body {
    color: black;
    font-size: 100.0%;
    font-family: Lora;
    line-height: 1.5em;
    margin: 0px auto 0px auto;
    width: 50em;
    padding-top: 1em;
}

p {
  text-align: justify;
  font-size: 1.00em;
  font-weight: normal;
  font-style: normal;
}

/******************************************************************************/

div.title {
    font-family:    Raleway;
    font-size:      2.500em;
    padding-bottom: 0.4em;
}

div.subtitle {
    font-family:   Raleway;
    font-size:     1.500em;
}

h1   { font-family:   Raleway;     }
h2   { font-family:   Raleway;     }
h3   { font-family:   Raleway;     }
h4   { font-family:   Raleway;     }
h5   { font-family:   Raleway;     }
h6   { font-family:   Raleway;     }
code { font-family:   "Fira Mono"; }

/******************************************************************************/

ul.menu {
    list-style-type: none;
    margin:           0;
    padding:          0;
    background-color: #f1f1f1;
    border:           1px solid #555555;
}

li.menuitem {
  display: inline;
}

li.menuitem a {
  color:   #000000;
  padding: 8px 16px;
  text-decoration: none;
}

li.menuitem a:hover {
  background-color: #555555;
  color: white;
}

/******************************************************************************/

div.legal {
    font-family:   Raleway;
    column-count: 3;
    width:        100%;
    background-color: #f1f1f1;
    border: 1px solid #555555;
    margin-top: 1em;
}

div #copyright {
  padding-left: 1em;
  text-align: left;
}

div #update {
  text-align: center;
}

div #questions {
  padding-right: 1em;
  text-align: right;
}

img #rssicon {
  height: 25;
  width: auto;
}

/******************************************************************************/

div.home {
  padding-top: 1em;
  column-count: 2;
  column-fill: auto;
}

div.post-set {
  break-inside: avoid;
  padding: 0;
  margin-top: 1em;
}

div.set-header {
  font-family: Raleway;
  font-weight: bold;
  font-size: 1.25em;
  text-transform: uppercase;
  padding-bottom: 0;
}

ul.post-list {
  list-style-type: none;
  margin:           0;
  padding:          0;
}

ul.post-list li {
  padding-top: 0;
}

/******************************************************************************/

div.post_header {
  margin-top: 1em;
  padding: 1em 0.5em 0.75em 1em;
  border: 1px solid black;
}

div.post_title {
    font-family:    Raleway;
    font-size:      2.000em;
}

div.post_info {
    font-family:    Raleway;
    font-size:      0.750em;
    padding-left:   1em;
}


/******************************************************************************/

