---
layout: default
---
<div class="home">

<div class="site-header-container {% if site.cover %}has-cover{% endif %}" {% if site.cover %}style="background-image: url({{ site.cover | prepend: site.baseurl }});"{% endif %}>
  <div class="scrim {% if site.cover %}has-cover{% endif %}">
   <div class="wrapper">
      <header class="site-header">
      <h1 class="title">{{ site.title }}</h1>
      {% if site.subtitle %}<p class="subtitle">{{ site.subtitle }}</p>{% endif %}
           <button type="button">Get started »</button>
    </header>
      </div>
  </div>
</div>

<div class="wrapper">
<div class="page">
  <div class="about">
  <h1>About</h1>
  <p>The HaLVM allows Haskell programmers the opportunity to compile their
  programs directly to virtual "bare metal." This allows them to control their
  environment completely, down to the level of device drivers, and can provide
  additional performance, security, and cost benefits. For example, HaLVMs run
  in vastly reduced memory and disk footprints (saving you money), without any
  unnecessary code or libraries (shrinking your attack profile), and without
  needless schedulers or competing projects (improving your performace). Futher,
  the strong, flexible type system allows you to prove critical properties of
  your program before it even launches.</p>
  <br>
  <div class="benefit"> 
  <!-- Some icon to the left of these, maybe. Need to bring the <p> higher up as well -->
      <h3>Read the v3 Manifesto</h3>
      <p>We've started working out HaLVM v3, the next generation of the HaLVM
      with additional features, ease-of-use, and target platforms. Read <a
      href="{{site.baseurl}}{%post_url 2016-04-29-halvm3-manifesto%}">the
      manifesto</a>, check <a href="{{site.baseurl}}/status.html">the status
      reports</a>, and help out!</p>
  </div>
  <div class="benefit">
      <h3>See the Tutorials</h3>
      <p>Interested in the HaLVM, but a little intimidated by the thought of
      writing your own VM from scratch? Never fear: we have some <a
      href="{{site.baseurl}}/tutorials.html">tutorials and skeletons</a> you
      can use to get your feet wet simply and easily.</p>
  </div>
  <div class="benefit">
      <h3>Find the Developers</h3>
      <p>Have questions or comments, bugs or feature requests? <a
      href="https://github.com/GaloisInc/HaLVM/issues/new">File a request</a>
      for us on GitHub, or see when we might be giving a talk in a town near you.
      Want to have one of the developers come by to give a talk or run a HaLVM
      workshop? <a href="mailto:halvm@galois.com">Drop us a note</a>.
  </div>
  </div>
<hr>

<div class="posts">
        <div class="post-set"> <!-- gridified in _layout.scss. -->
            <h2>News, Articles and Tutorials</h2>
            <ul class="posts-list">
              {% for post in site.posts %}
              {%   if post.categories contains "lesson"  or
                      post.categories contains "article" or
                      port.categories contains "status"     %}
                <li>
                  <strong>
                    <a href="{{ post.url | prepend: site.baseurl }}">
                      {% if post.categories contains "lesson" %}
                        Tutorial:
                      {% endif %}
                      {{ post.title }}</a>
                  </strong>
                  <span class="post-date">- {{ post.date | date_to_long_string }}</span>
                </li>
              {%  endif %}
              {% endfor %}
              </ul>
        </div>
        <div class="post-set">
            <h2>Events</h2>
            <ul class="posts-list">
              {% for post in site.categories["event"] %}
                <li>
                  <strong>
                    {% if post.link %}
                    <a href="{{ post.link }}">
                    {% endif %}
                    {{ post.title }}
                    {% if post.link %}
                    </a>
                    {% endif %}
                  </strong>
                  <span class="post-date">- {{ post.date | date_to_long_string }}</span>
                </li>
              {% endfor %}
              </ul>
        </div>
    </div>
     <hr>
     <div class="about">
    <div class="about">
    <h1>Get started with HaLVM</h1>
        <p>Writing programs for the HaLVM is just like writing program for a
        normal system, but with its own special quirks and tweaks. In fact, we
        strongly encourage users to start their HaLVM project by implementing
        their target service on Linux, macOS, or Windows, and only worry about
        the HaLVM afterwards.</p>
        <br/>
        <p>There already? Then peruse our tutorials for tips and tricks. Our "So
        you want to build a HaLVM" choose-your-own-adventure tutorial is
        probably the best place to start.</p>
    </div>
    <br/>
    <h1>About Galois</h1>
    <p>The HaLVM is an open-source offering of <a
         href="http://galois.com">Galois, Inc.</a>, a Research and
        Development firm specializing in improving the trustworthiness of
        critical systems. Galois developed the HaLVM as a prototyping tool to
        help improve the state of modern operating system design, and continues
        to use the HaLVM in projects that rely on secure components running in
        virtual environments.
        </p>
    </div>
    <hr>
 <!--<ul class="post-list">
  {% for post in paginator.posts %}
  <li>
    <h2>
      <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
    </h2>
    <section class="post-excerpt" itemprop="description">
      <p>{{ post.content | strip_html | truncatewords: 50 }}</p>
    </section>
    <section class="post-meta">
      <div class="post-date">{{ post.date | date: "%B %-d, %Y" }}</div>
      <div class="post-categories">
      {% if post.categories.size > 0 %}in {% for cat in post.categories %}
        {% if site.jekyll-archives %}
        <a href="{{ site.baseurl }}/category/{{ cat }}">{{ cat | capitalize }}</a>{% if forloop.last == false %}, {% endif %}
        {% else %}
        <a href="{{ site.baseurl }}/posts/#{{ cat }}">{{ cat | capitalize }}</a>{% if forloop.last == false %}, {% endif %}
        {% endif %}
      {% endfor %}{% endif %}
      </div>
    </section>
  </li>
  {% if forloop.last == false %}
  <hr>
  {% endif %}
  {% endfor %}
</ul>

<nav class="pagination" role="navigation">
    <p>
    {% if paginator.previous_page %}
            {% if paginator.page == 2 %}
            <a class="newer-posts" href="{% if site.baseurl %}{{ site.baseurl }}{% endif %}/">
        <span class="fa-stack fa-lg">
          <i class="fa fa-square fa-stack-2x"></i>
          <i class="fa fa-angle-double-left fa-stack-1x fa-inverse"></i>
        </span>
      </a>
            {% else %}
            <a class="newer-posts" href="{{ site.baseurl }}/page{{paginator.previous_page}}">
                <span class="fa-stack fa-lg">
                    <i class="fa fa-square fa-stack-2x"></i>
                    <i class="fa fa-angle-double-left fa-stack-1x fa-inverse"></i>
                </span>
            </a>
            {% endif %}
        {% else %}
        <span class="fa-stack fa-lg">
      <i class="fa fa-square fa-stack-2x"></i>
      <i class="fa fa-angle-double-left fa-stack-1x fa-inverse"></i>
    </span>
        {% endif %}
        <span class="page-number">Page {{ paginator.page }} of {{ paginator.total_pages }}</span>
        {% if paginator.next_page %}
        <a class="newer-posts" href="{{ site.baseurl }}/page{{paginator.next_page}}">
      <span class="fa-stack fa-lg">
        <i class="fa fa-square fa-stack-2x"></i>
        <i class="fa fa-angle-double-right fa-stack-1x fa-inverse"></i>
      </span>
    </a>
        {% else %}
        <span class="fa-stack fa-lg">
      <i class="fa fa-square fa-stack-2x"></i>
      <i class="fa fa-angle-double-right fa-stack-1x fa-inverse"></i>
    </span>
        {% endif %}
    </p>
</nav> -->

</div>
</div>
</div>
